html {
	width: 100%;
	height: 100%;
	background-color: #555555;
}

body {
	font-family: Helvetica, Verdana, Arial, Tahoma;
	font-size: small;
	background-color: #555555;
}

.layout {
  color: blue;
  size: large;
}
